.main {
    position: relative;
    border: 1px solid #000;
    padding: 1vw;
    height: 60vh;

    .mess {
        margin: 0;
        padding: 0;
        font-size: 0.8vw;
        line-height: 1.5vw;
    }

    form {
        position: absolute;
        bottom: 0;
        left: 0;
        display: grid;
        grid-template-columns: 4fr 1fr;
        // height: 10%;
        width: 100%;
        border-top: 1px solid #000;
        overflow: hidden;

        mat-form-field {
            padding: 0 0.5vw;
        }
        input {
            font-size: 0.8vw;
            padding: 0;
            margin: 0;
        }
        button {
            padding: 0;
            font-size: 0.8vw;
            line-height: 1vw;
            margin: 0;
        }
        .material-icons {
            font-size: 1.5vw;
        }
    }
}
@media only screen and (max-width: 1100px) {
    .main {
        form {
            grid-template-columns: 1fr;
            grid-template-rows: 3fr 2fr;
            .material-icons {
                font-size: 2.5vw;
            }
        }
        .mess {
            font-size: 2.3vw;
            line-height: 2.5vw;
        }
    }
}
@media only screen and (max-width: 600px) {
    .main {
        height: 20vh;

        .mess {
            font-size: 4vw;
            line-height: 4.5vw;
        }
    }
}