<div class="main">
    <h1 mat-dialog-title class="main-title">
        Player username currently has 123 slots containing 237 buildings.
    </h1>
    <div mat-dialog-content>
        <div>
            <span class="title">Current production:</span>
            <div>Red PCI: 10p/h</div>
            <div>Red PCI: 10p/h</div>
            <div>Red PCI: 10p/h</div>
        </div>
        <div>
            <span class="title">Current resources:</span>
            <div>Red PCI: 2137</div>
            <div>Red PCI: 420</div>
            <div>Red PCI: 69</div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Back</button>
        <button mat-button >Chat with player</button>
    </div>

</div>
