@import '../style/vars.scss';

.main {
    padding: 1.5vw;
    border: 1px solid black;
    margin: 2vw 0;
}
.main-title {
    font-weight: 500;
    font-size: $big-font-size;
    line-height: $big-font-size;
    margin: 0.5vw 0;
    text-align: center;
}
.title {
    display: block;
    font-weight: 500;
    font-size: $medium-font-size;
    line-height: $medium-font-size;
    margin: 1vw 0 0.5vw 0;
}
.mat-dialog-content {
    overflow: hidden;
}
.mat-dialog-content > div {
    font-size: $small-font-size;
    line-height: $small-font-size;
}

@media only screen and (max-width: 1000px) {
    .main-title{
        font-size: $medium-font-size-800px;
        line-height: $medium-font-size-800px;
    }
    .title{
        font-size: $medium-font-size-800px;
        line-height: $medium-font-size-800px;
    }
    .mat-dialog-content > div {
        font-size: $small-font-size-800px;
        line-height: $small-font-size-800px;
    }
}

@media only screen and (max-width: 800px) {
    .main-title{
        font-size: $big-font-size-800px;
        line-height: $big-font-size-800px;
    }
    .title{
        font-size: $medium-font-size-800px;
        line-height: $medium-font-size-800px;
    }
    .mat-dialog-content > div {
        font-size: $small-font-size-800px;
        line-height: $small-font-size-800px;
    }
}

@media only screen and (max-width: 500px) {
    .main-title{
        font-size: $big-font-size-500px;
        line-height: $big-font-size-500px;
    }
    .title{
        font-size: $medium-font-size-500px;
        line-height: $medium-font-size-500px;
    }
    .mat-dialog-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .mat-dialog-content > div {
        font-size: $small-font-size-500px;
        line-height: $small-font-size-500px;
        text-align: center;
    }
}
