<div class="main">
  <h1 mat-dialog-title class="main-title">
    You currently have 237 slots containing 123 buildings.
  </h1>
  <div mat-dialog-content>
    <div>
      <span class="title">Current production:</span>
      <div>Red PCI: 10p/h</div>
      <div>Green PCI: 10p/h</div>
      <div>Blue PCI: 10p/h</div>
    </div>
    <div>
      <span class="title">Current resources:</span>
      <div>Red PCI: 2137</div>
      <div>Green PCI: 420</div>
      <div>Blue PCI: 69</div>
    </div>
  </div>
</div>
