@import '../style/basic-view.scss';
@import '../style/vars.scss';

.message {
    display: flex;
    align-items: center;
    width: 60%;
    border-radius: 2px;
    margin: 0.3vw;
    padding: 0.3vw 1.4vw;
    font-size: $medium-font-size;
}
.t{
    float: left;
    background-color: #aaa;
}
.m{
    float: right;
    background-color: #bbb;
}
.new_message {
    position: absolute;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: 7fr 1fr;
    width: 100%;
    border-top: 1px solid #000;
    overflow: hidden;

    mat-form-field {
        padding: 0 0.5vw;
    }
    input {
        font-size: $medium-font-size;
        padding: 0;
        margin: 0;
    }
    button {
        padding: 0;
        font-size: $medium-font-size;
        margin: 0;
    }
    .material-icons {
        font-size: $big-font-size;
    }
}

@media only screen and (max-width: 800px) {
    .message {
        font-size: $medium-font-size-800px;
    }
    .new_message {
        input {
            font-size: $medium-font-size-800px;
        }
        button {
            font-size: $medium-font-size-800px;
        }
        .material-icons {
            font-size: $big-font-size-800px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .message {
        font-size: $medium-font-size-500px;
    }
    .new_message {
        input {
            font-size: $medium-font-size-500px;
        }
        button {
            font-size: $medium-font-size-500px;
        }
        .material-icons {
            font-size: $big-font-size-500px;
        }
    }
}