<div class="main">
    <div>
        <button mat-raised-button color="primary" routerLink="/login">Log Out</button>
        <button mat-raised-button color="primary" [routerLink]="['/city', username]">My city</button>
        <app-city-detail></app-city-detail>
    </div>
    <div class="trade_offers">
        <div *ngFor="let offer of offers">{{offer}}</div>
        <!--future: <div *ngFor="let message of messages" class="message {message.mine}">{{message.content}}</div>-->
        <form class="new_offer" (submit)="sendTradehouseOffer(tradehouseOfferForm)" #tradehouseOfferForm="ngForm">
            Trade 
            <mat-form-field><input matInput name="offer_get" required ngModel></mat-form-field>
             for 
             <mat-form-field><input matInput name="offer_give" required ngModel></mat-form-field>
            <button mat-raised-button color="primary" type="submit" [routerLink]="['/chat', username]">
                <span class="material-icons">send</span>
            </button>
        </form>
    </div>
    
</div>