@import '../style/basic-view.scss';
@import '../style/vars.scss';


.trade_offers {
    border: 1px solid #000;
    overflow: hidden;
    position: relative;
}
.offer {
    width: 100%;
    height: auto;
    margin: 0.3vw;
    padding: 0.3vw 1.4vw;
    font-size: $small-font-size;
    border-radius: 2px;
    background-color: #bbb;
    position: relative;
    display: flex;
    align-items: center;
    p {
        flex: 2;
        margin: 0;
        padding: 0;
    }
    button {
        flex: 1;
    }
}
.new_offer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 10% 5% 15% 10% 5% 15% 10% 20%;
    grid-gap: 5px;
    align-items: center;

    .mat-select-arrow-wrapper {
        display: block !important;
    }
    .mat-form-field-infix {
        border: none !important;
    }

    button {
        padding: 1em;
        margin-bottom: 1.34375em;
        margin-top: 0;
    }
}

@media only screen and (max-width: 800px) {
    .offer {
        font-size: $small-font-size-800px;
    }
    .new_offer{
        height: 60%;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 50px 50px 50px;
        grid-gap: 5px;
    
        button {
            margin-bottom: 1.34375em;
        }
    }    
}
@media only screen and (max-width: 500px) {
    .offer {
        font-size: $small-font-size-500px;
    }
}
