<div class="main-container">
  <div class="left-panel">
    <button
      class="main_menu_button"
      mat-raised-button
      color="primary"
      (click)="logout()"
    >
      Log Out
    </button>
    <button
      class="main_menu_button"
      mat-raised-button
      color="primary"
      [routerLink]="['/city', username]"
    >
      My city
    </button>
    <app-city-detail></app-city-detail>
  </div>
  <div class="right-panel">
    <div class="offer" *ngFor="let offer of offers">
      <p>{{ offer }}</p>
      <button
        class="accept_offer_button"
        mat-raised-button
        color="primary"
        (click)="acceptOffer(offer)"
      >
        Accept
      </button>
    </div>
    <form
      class="new_offer"
      (submit)="sendTradehouseOffer(tradehouseOfferForm)"
      #tradehouseOfferForm="ngForm"
    >
      <p>Trade</p>
      <!-- number -->
      <mat-form-field appearance="fill">
        <input matInput name="offer_get" required ngModel />
      </mat-form-field>
      <!-- mean of trade -->
      <mat-form-field appearance="fill">
        <mat-select ngModel name="mean_get">
          <mat-option *ngFor="let mean of meansOfTrade" [value]="mean">{{
            mean
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <p>for</p>
      <!-- number -->
      <mat-form-field appearance="fill">
        <input matInput name="offer_give" required ngModel />
      </mat-form-field>
      <!-- mean of trade -->
      <mat-form-field appearance="fill">
        <mat-select ngModel name="mean_give">
          <mat-option *ngFor="let mean of meansOfTrade" [value]="mean">{{
            mean
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div></div>
      <button
        mat-raised-button
        class="submit_offer"
        color="primary"
        type="submit"
      >
        <span class="material-icons">send</span>
      </button>
    </form>
  </div>
</div>
