@import '../style/basic-view.scss';
@import '../style/vars.scss';

.player_chat {
    display: flex;
    align-items: center;
    margin: 0.3vw;
    padding: 0.5vw 2vw;
    font-size: $medium-font-size;
    background-color: #aaa;
    border-radius: 2px;
}

@media only screen and (max-width: 800px) {
    .player_chat {
        font-size: $big-font-size-800px;
    }
}

@media only screen and (max-width: 500px) {
    .player_chat {
        font-size: $big-font-size-500px;
    }
}
