<div class="popup-main">
  <h1 class="main-title">
    Do you want to claim this cell and expand your city here?
  </h1>
  <div class="popup-content">
    <div>
      <span class="title">Cost:</span>
      <div>Red PCI: {{ cost.red }}</div>
      <div>Green PCI: {{ cost.green }}</div>
      <div>Blue PCI: {{ cost.blue }}</div>
    </div>
  </div>
  <div class="btns">
    <button mat-raised-button color="primary" (click)="goBack()">
      Go back
    </button>
    <button mat-raised-button color="primary" (click)="claim()">
      Claim cell
    </button>
  </div>
</div>
