<div class="allgrid" (wheel)="onScroll($event)" cdkDrag>
  <div
    *ngFor="let cell of terrain"
    [ngClass]="{
      background:
        (cell.owner == -1 || cell.owner == 0) && !neighbours.includes(cell),
      'color-0':
        (cell.owner === userId &&
          cell.buildingType === -1 &&
          cell.terrain == 0) ||
        (neighbours.includes(cell) && cell.terrain === 0),
      'color-1':
        (cell.owner === userId &&
          cell.buildingType === -1 &&
          cell.terrain == 1) ||
        (neighbours.includes(cell) && cell.terrain === 1),
      'color-2':
        (cell.owner === userId &&
          cell.buildingType === -1 &&
          cell.terrain == 2) ||
        (neighbours.includes(cell) && cell.terrain === 2),
      'neighbour-slot': neighbours.includes(cell),
      'building-0-lvl-0':
        cell.owner === userId &&
        cell.buildingType == 0 &&
        cell.buildingLvl == 0,
      'building-0-lvl-1':
        cell.owner === userId &&
        cell.buildingType == 0 &&
        cell.buildingLvl == 1,
      'building-0-lvl-2':
        cell.owner === userId &&
        cell.buildingType == 0 &&
        cell.buildingLvl == 2,
      'building-1-lvl-0':
        cell.owner === userId &&
        cell.buildingType == 1 &&
        cell.buildingLvl == 0,
      'building-1-lvl-1':
        cell.owner === userId &&
        cell.buildingType == 1 &&
        cell.buildingLvl == 1,
      'building-1-lvl-2':
        cell.owner === userId &&
        cell.buildingType == 1 &&
        cell.buildingLvl == 2,
      'building-2-lvl-0':
        cell.owner === userId &&
        cell.buildingType == 2 &&
        cell.buildingLvl == 0,
      'building-2-lvl-1':
        cell.owner === userId &&
        cell.buildingType == 2 &&
        cell.buildingLvl == 1,
      'building-2-lvl-2':
        cell.owner === userId && cell.buildingType == 2 && cell.buildingLvl == 2
    }"
    id="cell-{{ terrain.indexOf(cell) }}"
    (click)="chosenCell($event.target.id)"
  ></div>
</div>
