.allgrid {
    width: 60vh;
    height: 60vh;
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);

    .background {
        background: transparent;
    }
    .color-0 {
        background: #eee;
    }
    .color-1 {
        background: #ddd;
    }
    .color-2 {
        background: #ccc;
    }
    .building-0 {
        background: #f00;
    }
    .building-1 {
        background: #0f0;
    }
    .building-2 {
        background: #00f;
    }
}