.allgrid {
    width: 150vh;
    height: 150vh;
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);

    .background {
        background: transparent;
    }
    // cells bought, but still empty
    .color-0 {
        background: url('../../assets/images/map-background-red.png');
        background-size: cover;
    }
    .color-1 {
        background: url('../../assets/images/map-background-green.png');
        background-size: cover;
    }
    .color-2 {
        background: url('../../assets/images/map-background-blue.png');
        background-size: cover;
    }
    // cells with buildings
    .building-0-lvl-0,
    .building-0-lvl-1,
    .building-0-lvl-2 {
        background: url('../../assets/images/city-building-1.png');
        background-size: cover;
    }
    .building-1-lvl-0,
    .building-1-lvl-1,
    .building-1-lvl-2 {
        background: url('../../assets/images/city-building-2.png');
        background-size: cover;
    }
    .building-2-lvl-0,
    .building-2-lvl-1,
    .building-2-lvl-2 {
        background: url('../../assets/images/city-building-3.png');
        background-size: cover;
    }
    // neighbour cells
    .neighbour-slot {
        opacity: 0.3;
    }
}