.allgrid {
    width: 200vh;
    height: 200vh;
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);

    .color-0 {
        background: #eee;
    }
    .color-1 {
        background: #ddd;
    }
    .color-2 {
        background: #ccc;
    }
    .city-other {
        background: #000;
    }
    .city-mine {
        background: #f00;
    }
}