.allgrid {
    width: 120vh;
    height: 120vh;
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);

    .color-0 {
        background: url('../../assets/images/map-background-red.png');
        background-size: cover;
    }
    .color-1 {
        background: url('../../assets/images/map-background-green.png');
        background-size: cover;
    }
    .color-2 {
        background: url('../../assets/images/map-background-blue.png');
        background-size: cover;
    }
    .city-other {
        background: #000;
    }
    .city-mine {
        background: #f00;
    }
}
