@import '../style/vars.scss';

.rectangle {
    height: 80vh;
    display: flex;
    flex-direction: row;;
    justify-content: space-evenly;
    align-items: center;
    padding: 1vw;
    margin: auto;

    form {
        display: flex;
        flex-direction: column;
        font-size: $small-font-size;

        * {
            width: 25vw;
        }
        input {
            font-size: $small-font-size;
        }
        button {
            font-size: $small-font-size;
            padding: 0.5vw;
        }
    }
}

@media only screen and (max-width: 800px) {
    .rectangle {
        flex-direction: column;

        form {
            font-size: $small-font-size-800px;

            * {
                width: 60vw;
            }
            input {
                font-size: $small-font-size-800px;
            }
            button {
                font-size: $small-font-size-800px;
                padding: 1vw;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .rectangle {
        form {
            font-size: $small-font-size-500px;
            input {
                font-size: $small-font-size-500px;
            }
            button {
                font-size: $small-font-size-500px;
            }
        }
    }
}