// big text
$big-font-size: 1.5vw;            // normal screen
$big-font-size-800px: 2.5vw;      // screen width below 800 px
$big-font-size-500px: 4vw;      // screen width below 500 px
// medium text
$medium-font-size: 1vw;            // normal screen
$medium-font-size-800px: 2vw;      // screen width below 800 px
$medium-font-size-500px: 3.5vw;      // screen width below 500 px
// small text
$small-font-size: 0.9vw;            // normal screen
$small-font-size-800px: 1.8vw;      // screen width below 800 px
$small-font-size-500px: 3vw;      // screen width below 500 px
