@import '../style/vars.scss';

.mat-toolbar {
    height: 7vh;
}
span {
    letter-spacing: 1px;
}
.logo {
    padding-left: 0.8vw;
    letter-spacing: 2px;
    font-size: $big-font-size;
    font-weight: 500;
}
.time {
    font-size: 0.9vw;
}
.spacer {
    flex: 1 1 auto;
}

@media only screen and (max-width: 800px) {
    .logo {
        font-size: $big-font-size-800px;
    }
    .time {
        font-size: $medium-font-size-800px;
    }
}

@media only screen and (max-width: 500px) {
    .logo {
        font-size: $big-font-size-500px;
    }
    .time {
        font-size: $medium-font-size-500px;
    }
}
