.header {
    width: 100vw;
    height: 7vh;
    background: #2b7df8;
    display: flex;
    justify-content: space-between;
    align-items: center;

    * {
        padding: 10px;
    }

    .logo {
        font-size: 2em;
        font-weight: bold;
    }
    .time {
        font-size: 1.5em;
    }
}
