/*.header {
    width: 100vw;
    height: 7vh;
    background: #2b7df8;
    display: flex;
    justify-content: space-between;
    align-items: center;

    * {
        padding: 10px;
    }

    .logo {
        font-size: 2em;
        font-weight: bold;
    }
    .time {
        font-size: 1.5em;
    }
}*/
span{
    letter-spacing: 1px;
}
.logo{
    padding-left: 10px;
    letter-spacing: 2px;
    font-size: 1.5em;
    font-weight: 500;
}
.spacer {
    flex: 1 1 auto;
  }