<div class="main">
    <div>
        <div>
            <button mat-raised-button color="primary" routerLink="/login">Log Out</button>
            <button mat-raised-button color="primary" routerLink="/map">Map</button>
            <button mat-raised-button color="primary" routerLink="/trade-house">Trade</button>
            <button mat-raised-button color="primary" routerLink="/messagebox">Messagebox</button>
        </div>
        <app-city-detail></app-city-detail>
        <!--<div>Current production:</div>
        <div></div>
        <div>Current reserves:</div>
        <div></div>-->
    </div>
    <div class="city">
        <app-city></app-city>
    </div>
</div>